---
import { PageLayout } from "@/layouts";
import { BlogList } from "@/partials";
import { getBlogEntries } from "../_getBlogEntries";

const blogEntries = await getBlogEntries();
---
  <PageLayout title="ブログ一覧">
    <h2>ブログ一覧</h2>
    <BlogList entries={[...blogEntries]} />
  </PageLayout>
