---
import { getEntry } from "astro:content";
import { PageLayout } from "@/layouts";
import "zenn-content-css";

const entry = await getEntry("profile", "me");

const { Content } = await entry.render();
---

  <PageLayout title="プロフィール">
    <div class="znc">
      <Content />
    </div>
  </PageLayout>
    <script src="../../scripts/addOpenAnotherTabAttribute.ts" />
