---
import { getEntry, render } from "astro:content";
import { PageLayout } from "@/layouts";
import "zenn-content-css";
import { siteConfig } from "@/siteConfig";

const entry = await getEntry("profile", "me");

if (!entry) {
  throw new Error("Entry not found");
}

const { Content } = await render(entry);
---

  <PageLayout title="プロフィール" description={`${siteConfig.author}のプロフィールページです。`}>
    <div class="znc">
      <Content />
    </div>
  </PageLayout>
    <script src="../../scripts/addOpenAnotherTabAttribute.ts" />
