---
import { PageLayout } from "@/layouts";
import { TagList } from "@/partials/TagList";
import { getBlogEntries } from "../_getBlogEntries";

const blogEntroies = await getBlogEntries();

const tags = [...new Set(blogEntroies.map((entry) => entry.data.tags).flat())];
---

  <PageLayout title="タグ一覧">
    <h2>タグ一覧</h2>
    <TagList tags={tags} />
  </PageLayout>
