---
import { PageLayout } from "@/layouts";
import { BlogList } from "@/partials";
import { getBlogEntries } from "./_getBlogEntries";

const blogEntries = await getBlogEntries();
---
  <PageLayout title="トップページ">

    <p>フロントエンドを中心に学んだことを書いていきます。</p>

    <section>
      <h2>ブログ一覧</h2>
      <BlogList entries={[...blogEntries]} />
    </section>
  </PageLayout>
