---
import { getCollection } from "astro:content";
import { PageLayout } from "@/layouts";
import { BlogList } from "@/partials";

const allBlogEntries = await getCollection("blog");
const publicBlogEntries = allBlogEntries.filter(({ data }) => !data.private);

---
  <PageLayout title="home">

    <p>フロントエンドを中心に学んだことを書いていきます。</p>

    <section>
      <h2>記事一覧</h2>
      <BlogList entries={[...publicBlogEntries]} />
    </section>
  </PageLayout>
