---
import { Header, Footer } from "@/components";
import { Layout } from "../Layout";
import { MainContainer } from "../MainContainer";
import CommonHead from "../CommonHead.astro";
import "zenn-content-css";

type Props = {
  title: string;
};
const { title } = Astro.props;
const { pathname } = Astro.url;
---

  <html lang="en">
    <CommonHead title={title} />
    <body>
      <Layout>
        <Header currentPath={pathname.split("/")[1] || ""} client:load />
        <MainContainer>
          <div class="znc">
            <slot />
          </div>
        </MainContainer>
        <Footer />
      </Layout>
      <script is:inline src="https://embed.zenn.studio/js/listen-embed-event.js" />
    </body>
  </html>
