---
import { Layout } from "./Layout";

type Props = {
  title: string;
};
const { title } = Astro.props;
const { pathname } = Astro.url;
---

  <html lang="en">
    <head>
      <meta charset="utf-8" />

      <link
        rel="icon"
        href="data:image/svg+xml,
          <svg
            xmlns=%22http://www.w3.org/2000/svg%22
            viewBox=%220
            0
            100
            100%22
          >
          <text
            x=%2250%%22
            y=%2250%%22
            style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22
          >
            🦕
          </text>
        </svg>"
      />

      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
    </head>

    <body>
      <Layout pathname={pathname}>
        <slot />
      </Layout>
    </body>
  </html>
