---
import { Header, Footer } from "@/components";
import { Layout } from "../Layout";
import { MainContainer } from "../MainContainer";
import CommonHead from "../CommonHead.astro";

type Props = {
  title: string;
  description: string;
};
const { title, description } = Astro.props;
const { pathname } = Astro.url;
---

  <html lang="en">
    <CommonHead title={title} description={description} />
    <body>
      <Layout>
        <Header currentPath={pathname.split("/")[1] || ""} client:load />
        <MainContainer>
          <slot />
        </MainContainer>
        <Footer />
      </Layout>
    </body>
  </html>
